{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <title>Home</title>
</head>
<body>
    <h1>Esta é a pagina HOMEr</h1>

    <form action="{% url 'ver_home' %}" method="post">{% csrf_token %}
        <input type="text" name="nome" placeholder="Digite seu nome">
        <br>
        <br>
        <input type="password" name="senha" placeholder="Digite sua senha">
        <br>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>